{% extends 'base.html.twig' %}

{#detallrs de autor#}
{% block title %}Detalles del Autor{% endblock %}

{% block body %}
    <h2>Detalles del Autor</h2>
    <p><strong>Nombre:</strong> {{ autor.name }}</p>
    <p><strong>Apellido Paterno:</strong> {{ autor.apellidoPaterno }}</p>
    <p><strong>Apellido Materno:</strong> {{ autor.apellidoMaterno }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ autor.fechaNac ? autor.fechaNac|date('Y-m-d') : 'N/A' }}</p>



{% endblock %}