{% extends 'base.html.twig' %}

{#editar libro por formulario#}
{% block title %}Editar Autor{% endblock %}

{% block body %}
    <h2>Editar Autor</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    {{ form_end(form) }}


{% endblock %}