{% extends 'base.html.twig' %}

{% block title %}Página de Inicio{% endblock %}

{% block body %}
    <h2>Explora nuestras características</h2>
    <p>Descubre lo que ofrecemos y cómo podemos ayudarte a alcanzar tus objetivos.</p>
    <a href="{{ path('app_list_autors') }}">Autores</a>
    <br>
    <a href="{{ path('app_list_bibliotecas') }}">Bibliotecas</a>
    <br>
    <a href="{{ path('app_list_libros') }}">Libros</a>
{% endblock %}