{% extends 'base.html.twig' %}

{% block title %}Página de Inicio{% endblock %}

{% block body %}
    <h2>Explora nuestras características</h2>
    <p>Descubre lo que ofrecemos y cómo podemos ayudarte a alcanzar tus objetivos.</p>
    <a class="btn btn-primary">Ver Características</a>
    <p> Tu numero de la suerte es : {{ number }}</p>
{% endblock %}