{% extends 'base.html.twig' %}

{#formulario para editar una biblioteca#}
{% block title %}Editar Biblioteca{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center min-vh-100" >
        <div class="card p-4">
            <h1 class="card-title text-center mb-4">Editar Biblioteca</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}